extends pug/base

append vars
	-
		var baseDir = ''
	-
		var title = "тестовая страница"
	-
		var link = {
			appleTouchIcon: null,
			appleTouchIcon40x40: null,
			appleTouchIcon57x57: null,
			appleTouchIcon58x58: null,
			appleTouchIcon60x60: null,
			appleTouchIcon72x72: null,
			appleTouchIcon76x76: null,
			appleTouchIcon80x80: null,
			appleTouchIcon87x87: null,
			appleTouchIcon114x114: null,
			appleTouchIcon120x120: null,
			appleTouchIcon144x144: null,
			appleTouchIcon152x152: null,
			appleTouchIcon167x167: null,
			appleTouchIcon180x180: null,
			appleTouchIcon1024x1024: null,
			appleTouchIconPrecomposed: null,
			appleTouchIconPrecomposed40x40: null,
			appleTouchIconPrecomposed57x57: null,
			appleTouchIconPrecomposed58x58: null,
			appleTouchIconPrecomposed60x60: null,
			appleTouchIconPrecomposed72x72: null,
			appleTouchIconPrecomposed76x76: null,
			appleTouchIconPrecomposed80x80: null,
			appleTouchIconPrecomposed87x87: null,
			appleTouchIconPrecomposed114x114: null,
			appleTouchIconPrecomposed120x120: null,
			appleTouchIconPrecomposed144x144: null,
			appleTouchIconPrecomposed152x152: null,
			appleTouchIconPrecomposed167x167: null,
			appleTouchIconPrecomposed180x180: null,
			appleTouchIconPrecomposed1024x1024: null,
			icon16x16: null,
			icon32x32: null,
			icon96x96: null,
			icon128x128: null,
			icon196x196: null,
			manifest: null,
			icon: "images/seal.png",
			iconType: "image/x-icon",
			maskIcon: {
				href: null,
				color: null
			} 
		}

block content
		section
			include pug/form